/*
[Master Stylesheet] 
Project: Automotive Html
-------------------------------------------------------------------*/
/********************************************************
    body start
 *******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Philosopher:wght@400;700&display=swap');

:root {
    --fas-primary-color:#fd392d;
    --fas-secoundry-color: #fff9f5;
    --fas-white-color: #ffffff;
    --fas-font-color: #222222;
    --fas-font-light: #4c4c4c;
    --fas-transition: all 0.3s;
    --fas-box-shadow: 0 7px 21px rgba(0,0,0,.1);
}

html {
  scroll-behavior: smooth;
}

*,*:before,*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--fas-font-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}
/* Track */

::-webkit-scrollbar-track {
    background: var(--fas-font-color);
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--fas-primary-color);
    width: 4px;
}

a, a:hover, a:focus, button, button:hover, button:focus{	
	text-decoration: none;
	-webkit-transition: var(--fas-transition);
    -moz-transition: var(--fas-transition);
    -ms-transition: var(--fas-transition);
    -o-transition: var(--fas-transition);
    transition: var(--fas-transition);
}
h1, h2, h3, h4, h5, h6{	
	-webkit-transition: var(--fas-transition);
    -moz-transition: var(--fas-transition);
    -ms-transition: var(--fas-transition);
    -o-transition: var(--fas-transition);
    transition: var(--fas-transition);
	margin:0;
	padding:0;	
	word-break: break-word;
    font-family: 'Philosopher', sans-serif;
    text-transform: capitalize;
}
h6{
    font-size: 16px;
    font-weight: 600;
}
h5 {
    font-size: 20px;
    font-weight: 600;
}
h4{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-size: 60px;
    font-weight: 600;
}

input, textarea, select, button, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus{
	outline: none !important;
	box-shadow:none;
    border: none;
    object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul{
	padding:0;
	margin:0;
	list-style-type: none;
}
p {
  margin: 0px;
  word-break: break-word;
}

section{
    padding: 70px 0;
}

.row{
    row-gap: 24px;
}

.fas_section_heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 20px;
}

.fas_section_heading h6{
    color: var(--fas-primary-color);
}

.fas_bottom_btn a {
    margin: 15px auto 0;
}

/********************************************************
    Go to Top Style
 *******************************************************/
.fas-top-icon a {
    display: flex;
    background-color: var(--fas-primary-color);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: var(--fas-transition)  opacity 0;
    visibility: hidden;
    z-index: 1000;
    animation: 4s installation infinite alternate;
    cursor: pointer;
}
@keyframes installation {
    0% {
        transform: translateY(0px);
        
    }
    50% {
        transform: translateY(-20px);
        
    }
}

.fas-top-icon a:active {
  background-color: var(--fas-font-light);
}
.fas-top-icon a.show {
  opacity: 1;
  visibility: visible;
}

/********************************************************
    Loader Style
 *******************************************************/
.loader {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fas-white-color);
}
.loader img {
	width: 100px;
}

/********************************************************
    Button Style
 *******************************************************/

.fas_btn {
    background-color: var(--fas-primary-color);
    color: var(--fas-white-color);
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    padding: 10px;
    min-height: 50px;
    min-width: 125px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--fas-transition);
}

.fas_btn:hover{
    background-color: var(--fas-font-color);
    color: var(--fas-white-color);
}

/********************************************************
    Header Section Style
 *******************************************************/

.pp-header-wrapper {
    background-color: var(--fas-white-color);
    height: 100px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    z-index: 99;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: var(--fas-box-shadow);
    top: 0;
}

.pp-header-wrapper.pp-header-fixed {
    position: fixed;
    animation: goDown 0.5s ease-in-out forwards;
}

@keyframes goDown {
  0%{
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fas_header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.fas_logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.fas_logo{
    max-height: 40px;
}

.fas_toggle_menu {
    display: none; 
    cursor: pointer;
}

.fas_menu {
    display: flex;
    gap: 70px;
}

.fas_menu li a {
    transition: var(--fas-transition);
    color: var(--fas-font-light);
    text-transform: uppercase;
    font-weight: 600;
}

.fas_menu li a:hover {
    color: var(--fas-primary-color);
}

.fas_body_overlay{
    position: fixed;
    background: rgb(0 0 0 / 40%);
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    cursor: zoom-in;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.menu-open .fas_body_overlay {
    opacity: 1;
    visibility: visible;
}

/********************************************************
    Banner Section Style
 *******************************************************/

.fas_banner_wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/banner_bg.jpg);
    padding: 250px 0 300px;
    overflow: hidden;
}

.fas_banner_content h1 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    transform: translateY(-40px);
    transition: all 2.5s;
    opacity: 0;
    visibility: hidden;
}

.fas_banner_content p {
    margin: 15px 0 40px;
    transform: scale(.2);
    transition: all 2s;
    opacity: 0;
    visibility: hidden;
}

.fas_banner_content a{
    transform: translateY(40px);
    transition: all 2.5s;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
    visibility: hidden;
    transition: var(--fas-transition);
    transform: translateX(-100px);
    background-color: rgb(253 57 45 / 50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: var(--fas-primary-color);
}

.swiper-button-next {
    transform: translateX(100px);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px;
    color: var(--fas-white-color);
}

.fas_banner_slider:hover .swiper-button-prev,
.fas_banner_slider:hover .swiper-button-next{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.fas_banner_img {
    text-align: center;
    overflow: hidden;
}

.fas_banner_img img {
    transition: all 2s;
    transform: translateX(100%);
}

.fas_banner_slider .swiper-slide-active .fas_banner_img img{
    transform: translateX(0);
}

.fas_banner_slider .swiper-slide-active .fas_banner_content h1{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.fas_banner_slider .swiper-slide-active .fas_banner_content p{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.fas_banner_slider .swiper-slide-active .fas_banner_content a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    background-color: var(--fas-primary-color);
    color: var(--fas-white-color);
}

/********************************************************
    Deal Section Style
 *******************************************************/
.fas_deal_wrapper {
    margin-top: -150px;
}

.fas_deal_box {
    text-align: center;
    padding: 40px;
    border: 1px dashed rgb(0 0 0 / 20%);
    background-color: var(--fas-white-color);
    box-shadow: var(--fas-box-shadow);
}

.fas_deal_icon img{
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
    transition: var(--fas-transition);
}

.fas_deal_box:hover .fas_deal_icon img{
    transform: rotate(360deg);
}

.fas_deal_text {
    margin-top: 20px;
}

.fas_deal_text p {
    margin: 5px 0 10px;
}

.fas_deal_text a {
    color: var(--fas-font-light);
}

.fas_deal_text a:hover{
    color: var(--fas-primary-color);
}
/********************************************************
    About Section Style
 *******************************************************/

.fas_about_wrapper{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fas_abt_img img {
    width: 100%;
    object-fit: contain;
}

.fas_abt_heading h6{
    color: var(--fas-primary-color);
}

.fas_abt_heading {
    margin-bottom: 20px;
}

.fas_about_text {
    max-width: 600px;
}

.fas_about_text p {
    margin-bottom: 12px;
}

.fas_about_text p:last-child{
    margin: 0;
}


/********************************************************
    Service Section Style
 *******************************************************/

.fas_service_wrapper {
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fas_service_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
}

.fas_service_box {
    background-color: var(--fas-white-color);
    box-shadow: var(--fas-box-shadow);
    border: 1px dashed rgb(0 0 0 / 20%);
    padding: 30px 15px;
    text-align: center;
}

.fas_service_icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fas-primary-color);
    border-radius: 50%;
    margin: auto;
}

.fas_service_icon img{
    object-fit: contain;
}

.fas_service_text {
    margin-top: 20px;
}

.fas_service_text p {
    margin-top: 5px;
}

.fas_service_img {
    text-align: center;
}   

/********************************************************
    Products Section Style
 *******************************************************/

.fas_product_wrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.fas_pro_heading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    gap: 15px;
}

.fas_pro_heading h6 {
    color: var(--fas-primary-color);
}

.fas_slider_btn{
    display: flex;
    gap: 10px;
    position: relative;
}

.fas_slider_btn .swiper-button-prev, .fas_slider_btn .swiper-button-next {
    opacity: 1;
    visibility: visible;
    transform: none;
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    margin: auto;
}
.fas_product_slider {
    padding: 20px 0;
}
.fas_prod_box {
    background-color: var(--fas-white-color);
    box-shadow: var(--fas-box-shadow);
    padding: 5px;
    border-radius: 5px;
}
.fas_prod_img {
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 15px;
    overflow: hidden;
}

.fas_prod_img img{
    width: 100%;
    min-height: 250px;
    object-fit: contain;
}

.fas_prod_text {
    padding: 15px;
}

.fas_prod_text p {
    margin: 5px 0 15px;
    font-size: 16px;
    color: var(--fas-font-light);
}

.fas_prod_features {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px dashed rgb(0 0 0 / 20%);
}

.fas_prod_features li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.fas_prod_features li span {
    max-width: 24px;
}

.fas_prod_features li img{
    object-fit: contain;
    width: 100%;
    min-height: 24px;
}

.fas_prod_features li p {
    font-size: 16px;
    color: var(--fas-font-light);
    margin: auto;
}

/********************************************************
    Testimonials Section Style
 *******************************************************/
.fas_testi_wrapper{
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fas_testi_box {
    padding: 40px;
    background-color: var(--fas-white-color);
    box-shadow: var(--fas-box-shadow);
    text-align: center;
}

.fas_testi_text {
    margin: 10px 0 15px;
}

.fas_testi_text h5 {
    margin: 10px 0 5px;
}

.fas_testi_text h6{
    color: var(--fas-primary-color);
}

.fas_testi_img {
    width: 100px;
    max-height: 100px;
    margin: 0 auto -90px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px dashed var(--fas-primary-color);
}

.fas_testi_img img{
    min-height: 100px;
    width: 100%;
    object-fit: cover;
}

.fas_testi_slider .swiper-pagination {
    position: relative;
    bottom: unset;
    top: unset;
    left: unset;
    right: unset;
    margin-top: 70px;
}

.fas_testi_slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--fas-primary-color);
}

.fas_testi_slider .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 20px;
}

/********************************************************
    Footer Section Style
 *******************************************************/

.fas_footer_wrapper, .fas_copyright_wrapper{
    background-color: var(--fas-font-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fas_footer_heading h5 {
    color: var(--fas-white-color);
    margin-bottom: 20px;
}

.fas_footer_text, .fas_ftr_txt, .fas_footer_links li a {
    color: rgb(255 255 255 / 40%);
}

.fas_footer_text {
    max-width: 300px;
}

.fas_footer_text h6 {
    color: var(--fas-white-color);
    margin: 20px 0 5px;
}

.fas_footer_text a {
    margin-top: 15px;
}

.fas_footer_links li{
    margin-bottom: 15px;
}

.fas_footer_links li a:hover{
    color: var(--fas-primary-color);
}

.fas_ftr_box {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.fas_ftr_box:last-child, .fas_footer_links li:last-child{
    margin: 0;
    padding: 0;
    border: none;
}

.fas_ftr_img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
}

.fas_ftr_img img{
    width: 100%;
    min-height: 70px;
    object-fit: cover;
}

 .fas_ftr_txt h6{
    margin-bottom: 5px;
    color: var(--fas-white-color);
 }

.fas_newsletter .mt_form_input{
    margin: 15px 0;
}

.fas_newsletter input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    outline: none;
}

.fas_newsletter .fas_btn{
    width: 100%;

}

.fas_newsletter .fas_btn:hover, .fas_footer_text a:hover{
    background-color: var(--fas-white-color);
    color: var(--fas-font-color);
}

/********************************************************
    Copyright Section Style
 *******************************************************/

.fas_copyright_wrapper{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

.fas_copyright_text {
    color: var(--fas-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.fas_copyright_text ul{
    display: flex;
    gap: 15px;
}

.fas_copyright_text ul li a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fas-font-light);
    border-radius: 50%;
}

.fas_copyright_text ul li a:hover{
    background-color: var(--fas-primary-color);
    transform: translateY(-3px);
}

.fas_copyright_text ul li a img{
    transition: var(--fas-transition);
}

.fas_copyright_text ul li a:hover img{
    transform: rotate(360deg);
}