
/*============================
Max - Width Query
============================*/

@media (max-width: 1700px){
 

}

@media (max-width:1499.98px){

  
}

@media (max-width:1399.98px){

	
}

@media (max-width:1199.98px){

	.vld_menu{
		gap: 35px;
	}
  
}


@media (max-width:991.98px){

	.vld_toggle_menu{
		display: block;
	}

	.vld_menu {
	    position: fixed;
	    left: -250px;
	    flex-direction: column;
	    top: 0;
	    height: 100vh;
	    background: #fff;
	    width: 250px;
	    padding: 50px 30px;
	    z-index: 111;
    	transition: all 0.5s;
	}

	.menu-open .vld_menu{
		left: 0;
	}
   
}

@media (max-width:767.98px){

	.vld_pre_header{
		display: none;
	}
	
	.vld_banner_content{
		height: auto;
		padding: 200px 0;
	}
	
}

@media (max-width:575.98px){
	
	.vld_banner_content{
		padding: 150px 0 100px; 
	}
}

@media (max-width:349.98px){


}

