/*
[Master Stylesheet] 
Project: Consulting Html
-----------------------------------------------------------------*/
/********************************************************
1. body start
 *******************************************************/
:root {
    --cn-theme-color: #7e57ff;
    --cn-grey-color: #444444;
    --cn-black-color: #000000;
    --cn-white-color: #ffffff;
    --cn-dark-blue-color:#1e263d;
    --cn-orange-color:#ff794d;
    --cn-bg-color:#ecf0f9;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;	  	
	-webkit-font-smoothing: antialiased;
    font-family: 'Manrope', sans-serif;    
}
html {
  scroll-behavior: smooth;
}
*,*:before,*:after{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a, a:hover, a:focus{	
	text-transform: capitalize;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6{	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	margin:0;
	padding:0;	
	word-break: break-word;
}
img {
	max-width: 100%;
}
input, textarea, select, button, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus, .form-control:focus{
	outline: none !important;
	box-shadow:none;
}
ul{
	padding:0;
	margin:0;
	list-style-type: none;
}
span, p {
  margin: 0px;
  word-break: break-word;
}
.container-fluid{
    padding: 0 100px 0 140px;
}
.cn-heading{
    font-size: 36px;
    color: var(--cn-black-color);
    font-weight: 700;
}
.cn-paragraph{
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 400;
}
/* bottom to top css */
.cn-top-icon a {
    display: flex;
    background-color: var(--cn-theme-color);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
	animation: 4s installation infinite alternate;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-top-icon a img {
    transform: rotate(270deg);
    max-width: 23px;
    max-height: 18px;
    object-fit: contain;
}
@keyframes installation {
    0% {
        transform: translateY(0px);
        box-shadow: 0 0 0 0 rgba(156, 87, 255, 0.3);
    }
    50% {
        transform: translateY(-20px);
        box-shadow: 0 0 0 15px rgba(156, 87, 255, 0.3);
    }
}
.cn-top-icon a svg {
    fill: #ffffff;
    transform: rotate(270deg);
}
.cn-top-icon a:hover {
  cursor: pointer;
  box-shadow: 0 0 0 25px var(--cn-orange-color) inset;
}
.cn-top-icon a:active {
  background-color: #555;
}
.cn-top-icon a.show {
  opacity: 1;
  visibility: visible;
}
/* bottom to top css end */
/* loader css start */
.loader {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.loader img {
	width: 100px;
}
/* loader css start end */
/* button css */
.cn-btn{
    max-width: 210px;
    width: 100%;
    min-height: 60px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid var(--cn-theme-color);        
    color: var(--cn-white-color);
    background-color: var(--cn-theme-color);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    font-family: sans-serif;
    transition: all 0.35s ease-in-out;
    z-index: 1; 
}
.cn-btn:hover{
    color: var(--cn-theme-color);
    background-color: transparent;
    letter-spacing: 1px;
}
.cn-btn:hover:before{      
    transform: rotateX(90deg);
}
.cn-btn:hover:after{
    transform: rotateY(90deg);
}
/* button css end*/
/* toggle btn */
.cn-toggle-btn{
    display: block;
}
/* toggle btn */
.bannerResponsiveImg{
    display: none;
}
/* header section css start */
.cn-logo img{
    max-width: 140px;
    max-height: 37px;
    object-fit: contain;
}
.cn-navbar-menu ul {
    text-align: right;
}
.cn-navbar-menu ul li{
    display: inline-block;
    margin-right: 40px;
}
.cn-navbar-menu ul li.sidebar-logo{
    display: none;
}
.cn-navbar-menu ul li a {
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
}
.cn-navbar-menu ul li.active a{
    color: var(--cn-theme-color);    
}
.cn-header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    padding: 24px 0;
    background-image: linear-gradient(-90deg, #ffffff 0%, #fcf7ff 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
}
.pp-header-wrapper.pp-header-fixed{
    z-index: 10;
}
/* header section css end */
/* banner section css start */
.cn-banner-wrapper {
    position: relative;
    padding: 80px 0 0 0;
}
.cn-banner-left{
    position: relative;
}
.cn-banner-left h6{
    color: var(--cn-theme-color);    
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 700;
}
.cn-banner-left h1{
    font-size: 56px;    
    color: var(--cn-grey-color);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
}
.cn-banner-left h1 > span{
    color: var(--cn-theme-color);
    font-weight: 800;
}
.cn-banner-left p {
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 400;
    line-height: 1.6;
    margin-top: 20px;
    text-transform: capitalize;
}
.cn-banner-left .cn-btn{
    margin-top: 35px;
}
.cn-banner-left img {
    position: absolute;
    bottom: 30px;
    left: -65px;
    animation:up-down 2s infinite alternate-reverse;
    max-width: 56px;
    max-height: 165px;
    object-fit: contain;
}
.cn-banner-right-img {
    text-align: right;
    margin-top: 40px;
    position: relative;
}
.cn-banner-right-content .bannerMail {
    position: absolute;
    top: 305px;
    left: 270px;
    animation: up-down 2s infinite alternate-reverse;
    max-width: 184px;
    max-height: 184px;
    object-fit: contain;
}
.cn-banner-right-content .bannerGrow {
    position: absolute;
    bottom: 55px;
    right: 20px;
    animation: up-down 3s infinite alternate-reverse;
    max-width: 184px;
    max-height: 184px;
    object-fit: contain;
}
.cn-banner-right-img .boyimg{
    max-width: 876px;
    width: 100%;
    max-height: 827px;
    min-height: 827px;
    object-fit: cover;
}
.cn-banner-right-img .bannerResponsiveImg{
    max-width: 880px;
    width: 100%;
}
.cn-banner-employee {
    text-align: center;
    position: absolute;
    right: 0;
    top: 200px;
    backdrop-filter: blur(10px);
    background-color: #ffffffb0;
    max-width: 335px;
    width: 100%;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 30px 45px 10px rgb(16 40 132 / 8%);
    animation: left-right 2s infinite alternate-reverse;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes left-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}
.cn-banner-employee h6 {
    font-size: 22px;
    color: var(--cn-grey-color);
    font-weight: 800;
    margin: 15px 0 5px 0;
    text-transform: capitalize;
}
.cn-banner-employee p{
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 500;
}
.cn-banner-business {
    text-align: center;
    position: absolute;
    left: 110px;
    bottom: 50px;
    backdrop-filter: blur(10px);
    background-color: #ffffffb0;
    max-width: 345px;
    width: 100%;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 30px 45px 10px rgb(16 40 132 / 8%); 
    animation: left-right 3s infinite alternate-reverse;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-banner-business > .bannerEmplyee{
    max-width: 66px;
    max-height: 65px;
    object-fit: contain;
}
.cn-banner-employee > .bannerEmplyee{
    max-width: 70px;
    max-height: 66px;
    object-fit: contain;
}
.cn-banner-business h6 {
    font-size: 22px;
    color: var(--cn-grey-color);
    font-weight: 800;
    margin: 15px 0 5px 0;
}
.cn-banner-business p{
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 500;
}
/* banner section css end */
/* partner section css start */
.cn-partner-wrapper {
    background-color: var(--cn-dark-blue-color);
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-partner-wrapper h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--cn-white-color);
    text-align: center;
    text-transform: capitalize;
}
.cn-partner-wrapper h1 > span{
    color: var(--cn-orange-color);
    font-weight: 600;
}
.cn-partner-wrapper .swiper-slide{
    text-align: center;
    cursor: pointer;
    margin-top: 65px;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
.cn-partner-wrapper .swiper-slide span img{
    max-width: 109px;
    max-height: 50px;
    object-fit: contain;
}
.cn-partner-wrapper .swiper-slide span svg{
    fill: #656f8d;
    transition: all 0.3s ease-in-out;
} 
.cn-partner-wrapper .swiper-slide:hover span svg{
    fill: var(--cn-white-color);
} 
.cn-partner-wrapper .swiper-slide:hover{
    transform: translateY(-10px)scale(1.1);
}
/* partner section css end */
/* about section css start */
.cn-about-wrapper > .container{
    max-width: 1200px;
}
.cn-about-wrapper{
    padding: 80px 0;    
}  
.cn-box-inner:hover{
    background-color: var(--cn-dark-blue-color);    
}
.cn-box-inner:hover svg{
    fill: var(--cn-dark-blue-color);
}
.cn-box-inner-orange:hover span{
    background-color: transparent;
}
.cn-box-inner:hover svg{
    fill: var(--cn-dark-blue-color);
}
.cn-box-inner{
    max-width: 270px;
    width: 100%;    
    border-radius: 20px;
    box-shadow:0 0 30px rgba(73,57,126,0.06);
    background-color: #5ab3ff;
    text-align: center;
    padding: 35px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-box-inner > span > img {
    max-width: 39px;
    max-height: 28px;
    object-fit: contain;
}
.cn-box-inner span svg{
    fill: var(--cn-white-color); 
    transition: all 0.3s ease-in-out;      
}
.cn-box-inner span{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #51a3e9;
    display: flex;
    justify-content: center;   
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-box-inner h6{
    font-size: 16px;
    color: var(--cn-white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 15px 0;
    position: relative;
}
.cn-box-inner p{
    font-size: 16px;
    color: var(--cn-white-color);
    font-weight: 400;  
}
.cn-box-inner-purple{
    background-color: #815bff;
    margin-bottom: 0;
}
.cn-box-inner-purple span{
    background-color: #7450eb;
}
.cn-box-inner-orange{
    background-color: var(--cn-orange-color);
    margin-left: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;    
}
.cn-box-inner-orange:hover{
    background-color: var(--cn-dark-blue-color);
}
.cn-box-inner-orange span{
    font-size: 70px;
    color: var(--cn-white-color);
    background-color: transparent;
    font-weight: 800;
    width: auto;
}
.cn-about-box-parent{
    display: flex;
    align-items: center;    
}
.cn-left-box{
    position: relative;
}
@keyframes up-down{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
.cn-about-right-content h1{    
    margin-bottom: 35px;
}
.cn-about-right-content .cn-paragraph{
    text-align: justify;
}
.cn-about-right-content a{
    margin-top: 35px;
}
/* about section css end */
/* service section css start */
.cn-service-wrapper{
    padding: 80px 0;
    background-color: var(--cn-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-service-heading h1 {
    font-size: 30px;
    color: var(--cn-black-color);
    font-weight: 800;
    text-transform: capitalize;
}
/* purple box */
.cn-service-box{
    background-color: var(--cn-white-color);
    border-radius: 20px;
    padding: 60px 34px;
    text-align: center;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-service-inner > span img {
    position: relative;
    z-index: 1;
    max-width: 36px;
    max-height: 40px;
    object-fit: contain;
}
.cn-service-inner > span {
    width: 103px;
    height: 103px;
    background-color: rgb(126 87 255 / 15%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    transition:all 0.3s ease-in-out ;
}
.cn-service-inner h5 {
    font-size: 22px;
    color: var(--cn-theme-color);
    font-weight: 800;
    margin: 20px 0 20px 0;
    position: relative;
    text-transform: capitalize;
}
.cn-service-wrapper .swiper-slide{    
    cursor: pointer;
}
/* orange box */
.cn-service-inner-orange > span {           
    background-color: rgb(255 121 77 / 15%);
    position: relative;
}
.cn-service-inner.cn-service-inner-orange > span:before {
    border-top-color: var(--cn-orange-color);
    border-bottom-color: var(--cn-orange-color);
}
.cn-service-inner-orange > span > svg{
    fill: var(--cn-orange-color);
}
.cn-service-inner-orange h5{
    color: var(--cn-orange-color);
    position: relative;
}
.cn-service-inner-orange h5:before {   
    background-color: var(--cn-orange-color);    
}
/* blue box box */
.cn-service-inner-blue > span {  
    background-color: rgb(90 179 255 / 15%);
    position: relative;  
}
.cn-service-inner.cn-service-inner-blue > span:before {
    border-top-color: #5ab3ff;
    border-bottom-color: #5ab3ff;
}
.cn-service-inner-blue > span > svg{
    fill: #5ab3ff;
}
.cn-service-inner-blue h5{
    color: #5ab3ff;
    position: relative;
}
.cn-service-inner-blue h5:before {   
    background-color: #5ab3ff;    
}
/* service slider button css start */
.cn-service-wrapper .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}
.cn-service-heading {
    position: relative;
}
.cn-service-btn{
    position: absolute;
    right: 0;
}
.cn-service-wrapper .swiper-button-next { 
    position: absolute;     
    top: 0;
    background: #fff;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-service-wrapper .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    position: absolute;     
    left: auto;
    right: 95px;
    top: 0;        
    background: #fff;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-service-wrapper .swiper-button-next svg, .cn-service-wrapper .swiper-button-prev svg{
    transition: all 0.3s ease-in-out;
}
.cn-service-wrapper .swiper-button-next:hover svg{
    fill:var(--cn-theme-color);
}
.cn-service-wrapper .swiper-button-prev:hover svg{
    fill:var(--cn-theme-color);
}
.cn-service-btn img {
    max-width: 24px;
    max-height: 12px;
    object-fit: contain;
}
/* service slider button css end */
/* blog section css start */
.cn-blog-wrapper{
    padding: 80px 0;    
}
.cn-blog-left-content p {
    margin: 25px 0 35px 0;
    text-align: justify;    
}
.cn-blog-right{
    text-align: right;
    position: relative;
}
.cn-blog-right img{
    max-width: 548px;
    width: 100%;
    max-height: 640px;
    min-height: 640px;
    object-fit: cover;
}
.counter-first-box {
    position: absolute;
    top: 185px;
    left: 60px;
    animation: left-right 2s infinite alternate-reverse;
}
.counter-mid-box {
    position: absolute;
    bottom: 53px;
    left: 105px;
    animation: up-down 1.5s infinite alternate-reverse;
}
.counter-last-box {
    position: absolute;
    bottom: -35px;
    right: 20px;
    animation: left-right 2.5s infinite alternate-reverse;
}
.cn-counter-box {
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: #ffffffb0;
    max-width: 230px;
    width: 100%;
    padding: 18px 35px 30px;
    border-radius: 12px;
    box-shadow: 0px 30px 45px 10px rgb(16 40 132 / 8%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-counter-box h5{
    font-size: 16px;
    font-weight: 700;
    color: var(--cn-black-color);
    text-transform: uppercase;
}
.cn-counter-box .counting{
    font-size: 42px;
    color: var(--cn-theme-color);
    font-weight: 800;    
    word-break: break-word;
}
.counting {
    margin-left: -30px;
}
/* blog section css end */
/* testimonial section css start */
.cn-testimonial-wrapper{
    padding: 80px 0;
    background-color: var(--cn-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-testimonial-heading .cn-heading{
    text-align: center;
}
.cn-client-box{
    background-color:var(--cn-white-color);
    padding: 30px 35px 35px 50px;
    border-radius: 10px;
    margin-top: 65px;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-client-heading{
    display: flex;
    align-items: center;
}
.cn-client-img img{
    width: 81px;
    height: 81px;
    object-fit: cover;
    border-radius: 100%;
}
.cn-client-name{
    margin-left: 20px;
}
.cn-client-name h6{
    font-size: 22px;
    font-weight: 800;
    color: var(--cn-black-color);
    transition: all 0.3s ease-in-out;
}
.cn-client-name p{
    font-size: 14px;
    font-weight: 700;
    color: var(--cn-theme-color);    
}
.cn-client-text p{
    text-align: justify;
    font-weight: 500;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
.cn-qoute-img {
    position: absolute;
    top: -14px;
    right: 35px;
}
.cn-qoute-img img {
    width: 59px;
    height: 51px;
    object-fit: cover;
}
.cn-qoute-img svg{
    fill: var(--cn-theme-color);
    transition: all 0.3s ease-in-out;
}
.cn-testimonial-wrapper .swiper-container{
    padding-bottom: 75px;
}
.cn-testimonial-wrapper .swiper-pagination-bullet{
    width: 9px;
    height: 9px;
    background-color: var(--cn-grey-color);
}
.cn-testimonial-wrapper .swiper-pagination-bullet-active{
    background-color: var(--cn-black-color);
}
.cn-testimonial-wrapper .swiper-slide{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cn-testimonial-wrapper .swiper-slide:hover .cn-client-box{
    box-shadow:1.5px 3.99px 27px 0px rgb(0 0 0 / 10%);
}
/* testimonial section css end */
/* contact section css start */
.cn-contact-wrapper{
    padding-top: 80px;
    background-color: var(--cn-dark-blue-color);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-contact-heading .cn-heading{
    color: var(--cn-white-color);
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.me-global-map svg {
    min-height: 465px;
}
div#world-map {
    margin-top: 65px;
}
.cn-contact-form-box {
    background-color: var(--cn-white-color);
    border-radius: 20px;
    padding: 40px 45px;    
    margin-top: -460px; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    max-height: 670px;
}
.cn-contact-form-box::-webkit-scrollbar{
    width: 6px;
}
.cn-contact-form-box::-webkit-scrollbar-track{
    background-color: #f5f5f5;
    border-radius: 60px;
}
.cn-contact-form-box::-webkit-scrollbar-thumb{
    background-color: var(--cn-theme-color);
    border-radius: 60px;
}
.cn-form-heading{
    text-align: center;
}
.cn-form-heading h2{
    font-size: 32px;
    font-weight: 800;
    color: var(--cn-black-color);
}
.cn-form-heading p{
    font-size: 16px;
    font-weight: 600;
    color: var(--cn-black-color);
    text-transform: capitalize;
    margin-top: 10px;
}
.cn-input-field{
    margin-top: 30px;
}
.cn-input-field input{   
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 60px;
    background-color: #f7f7fc;
    border: 1px solid rgba(191,191,207,0.3);
    padding: 0 25px 0 25px;
    margin-bottom: 20px;
}
::placeholder{
    color: var(--cn-grey-color);
}
.cn-input-field textarea{
    font-size: 16px;
    font-weight: 500;
    color: var(--cn-grey-color);
    width: 100%;
    height: 140px;
    background-color: #f7f7fc;
    border: 1px solid rgba(191,191,207,0.3);
    padding: 20px 25px 0 25px;
    margin-bottom: 20px;
    resize: none;    
}
.cn-input-field .cn-btn {
    max-width: 100%;
}
/* contact section css end */
/* footer section css start */
.cn-footer-wrapper {
    background-color: var(--cn-bg-color);
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-footer-info{
    background-color: var(--cn-white-color);
    border-radius: 20px;
    padding: 35px 45px 35px 45px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cn-footer-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cn-add h2{
    font-size: 22px;
    color: var(--cn-black-color);
    font-weight: 800;
}
.cn-add a, .cn-add a p{
    font-size: 16px;
    color: var(--cn-grey-color);
    font-weight: 400;
}
.address{
    position: relative;
}
.address:after{
    content: '';
    width: 2px;
    height: 90px;
    background-color: #ececf1;
    position: absolute;
    top: 0;
    right: -50px;
}
.cn-footer-bottom-wrapper{
    margin-top: 75px;
}
.cn-footer-first img {
    max-width: 141px;
    max-height: 37px;
    object-fit: contain;
}
.cn-footer-icon ul li a img{
    object-fit: contain;
    max-width: 18px;
    max-height: 18px
}
.cn-footer-first .cn-paragraph{
    margin-top: 25px;
    font-weight: 500;
}
.cn-footer-btm-heading h1{
    font-size: 22px;
    font-weight: 800;
    color: var(--cn-black-color);
}
.cn-footer-btm-list ul{
    margin-top: 35px;
}
.cn-footer-btm-list ul li {
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 17px;
}
.cn-footer-btm-list ul li a{
    transition: all 0.3s ease-in-out;
}
.cn-footer-btm-list ul li:hover{
    transform: translateX(5px);
}
.cn-footer-btm-list ul li a:hover{
    color: var(--cn-theme-color);
}
.cn-footer-btm-list ul li a.cn-paragraph{
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cn-footer-btm-list ul li a img{
    margin:-4px 18px 0 0;
    width: 12px;
    height: 11px;
    object-fit: cover;
}
.cn-footer-btm-twitter ul{
    margin-top: 35px;
}
.cn-footer-btm-twitter ul li{
    position: relative;
}
.cn-footer-btm-twitter ul li.footer-last-para{
    margin-top: 8px;
}
.cn-footer-btm-twitter ul img {
    position: absolute;
    left: -30px;
    top: 12px;
}
.cn-footer-btm-twitter ul p{
    color: var(--cn-theme-color);
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
    padding-top: 5px;
}
.cn-footer-btm-twitter ul li.cn-paragraph{
    font-weight: 500;
    margin-left: 30px;
}
.cn-footer-btm-twitter ul li img{
    margin:-4px 0px 0 0;
    max-width: 14px;
    max-height: 12px;
    object-fit: contain;
}
.cn-footer-btm-twitter li a{
    display: flex;
    align-items: center;
}
.cn-footer-btm-twitter li a p, .cn-footer-btm-twitter li p{
    font-size: 16px;
    font-weight: 500;
    color: var(--cn-grey-color);
    margin-left: 0;
    padding-top: 0;
}
.cn-footer-icon ul{
    margin-top: 25px;
    text-align: left;    
}
.cn-footer-icon ul li{
    display: inline-block;
    margin-right: 20px;
}
.cn-footer-icon ul li a{
    width: 40px;
    height: 40px;
    border: 2px solid var(--cn-theme-color);
    color: var(--cn-theme-color);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.cn-footer-icon ul li a span:hover{
    transform: translateY(-5px);
}
/* footer section css end */
/* copyright section start */
.cn-copyright{
    background-color: #e3e7f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}
.cn-copyright .cn-paragraph{
    font-weight: 500;
    text-align: center;
}
.cn-copyright a{
    color: var(--cn-theme-color);
    font-weight: 600;
}
/* copyright section end */
/* swiper slider */
.cn-service-wrapper .swiper-pointer-events, .cn-testimonial-wrapper .swiper-pointer-events, .cn-partner-wrapper .swiper-pointer-events{
    touch-action: pan-y;
    overflow: hidden;
    position: relative;
}
/* swiper slider */