/*
[Master Stylesheet] 
Project: Travel Agency Html
-------------------------------------------------------------------*/
/********************************************************
    body start
 *******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

:root {
    --tra-primary-color:#8b3eea;
    --tra-black-color: #191919;
    --tra-black-light: #6f6f6f;
    --tra-white-color: #ffffff;
    --tra-transition: all 0.3s;
    --tra-border-radius: 8px;
    --tra-box-shadow: 0 7px 21px rgba(0,0,0,.1);
}

html {
  scroll-behavior: smooth;
}

*,*:before,*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--tra-black-color);
}

::-webkit-scrollbar {
    width: 4px;
}
/* Track */

::-webkit-scrollbar-track {
    background: var(--tra-font-color);
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--tra-primary-color);
    width: 4px;
}

a, a:hover, a:focus, button, button:hover, button:focus{	
	text-decoration: none;
	-webkit-transition: var(--tra-transition);
    -moz-transition: var(--tra-transition);
    -ms-transition: var(--tra-transition);
    -o-transition: var(--tra-transition);
    transition: var(--tra-transition);
}
h1, h2, h3, h4, h5, h6{	
	-webkit-transition: var(--tra-transition);
    -moz-transition: var(--tra-transition);
    -ms-transition: var(--tra-transition);
    -o-transition: var(--tra-transition);
    transition: var(--tra-transition);
	margin:0;
	padding:0;	
	word-break: break-word;
    text-transform: capitalize;
    font-family: 'Noto Serif Display', serif;
}

h6{
    font-size: 18px;
    font-weight: 500;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
h3{
    font-size: 40px;
    font-weight: 600;
}

input, textarea, select, button, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus{
	outline: none !important;
	box-shadow:none;
    border: none;
    object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul{
	padding:0;
	margin:0;
	list-style-type: none;
}
p {
  margin: 0px;
  word-break: break-word;
}

section{
    padding: 70px 0;
}

.row{
    row-gap: 24px;
}

.tra_section_heading {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 20px;
}

.tra_section_heading h3{
    margin-bottom: 10px;
}

.tra_bottom_btn a{
    margin: auto;
}

/********************************************************
    Go to Top Style
 *******************************************************/
.tra-top-icon a {
    display: flex;
    background-color: var(--tra-primary-color);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: var(--tra-transition)  opacity 0;
    visibility: hidden;
    z-index: 99;
    animation: 4s installation infinite alternate;
    cursor: pointer;
}
@keyframes installation {
    0% {
        transform: translateY(0px);
        
    }
    50% {
        transform: translateY(-20px);
        
    }
}

.tra-top-icon a:active {
  background-color: var(--tra-black-light);
}
.tra-top-icon a.show {
  opacity: 1;
  visibility: visible;
}

/********************************************************
    Loader Style
 *******************************************************/
.loader {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tra-white-color);
}
.loader img {
	width: 100px;
}

/********************************************************
    Button Style
*******************************************************/

.tra_btn {
    color: var(--tra-white-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--tra-primary-color);
    max-width: 130px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 25px 0;
    box-shadow: inset 0 0 0 60px transparent;
    padding: 0 15px;
    white-space: nowrap;
}

.tra_btn:hover {
    color: var(--tra-white-color);
    box-shadow: inset 0 0 0 1px var(--tra-white-color);
}

/********************************************************
    Header Section Style
*******************************************************/

.pp-header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 20px 0;
    transition: var(--tra-transition);
    background-color: rgb(139 62 234 / 30%);
}

.pp-header-wrapper.pp-header-fixed{
    position: fixed;
    background-color: rgb(139 62 234);
    animation: goDown 0.5s ease-in-out forwards;
}

@keyframes goDown {
  0%{
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.tra_logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tra_logo a img{
    object-position: left;
}

.tra_toggle_menu {
    cursor: pointer;
    display: none;
}

.pp-header-wrapper nav {
    display: flex;
    justify-content: space-between;
}

.tra_menu {
    display: flex;
    align-items: center;
    gap: 70px;
}

.pp-header-wrapper nav ul li a {
    color: var(--tra-white-color);
    padding: 18px 10px;
}

.tra_body_overlay {
    position: fixed;
    z-index: 100;
    background-color: rgb(0 0 0 / 40%);
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: var(--tra-transition);
    cursor: zoom-out;
}

.menu-open .tra_body_overlay{
    opacity: 1;
    visibility: visible;
}
/********************************************************
    Banner Section Style
*******************************************************/

.tra_banner_wrapper{
    position: relative;
}

.tra_slide1, .tra_slide2, .tra_slide3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tra_slide1{
    background-image: url(../images/slide-1.jpg);
}

.tra_slide2{
    background-image: url(../images/slide-2.jpg);
}

.tra_slide3{
    background-image: url(../images/slide-3.jpg);
}

.tra_banner_slider .swiper-slide .tra_banner_content{
    clear: both;
    transform: translateX(-100vw);
    transition: all 0.4s ease-out;
}

.tra_banner_slider .swiper-slide-active .tra_banner_content{
    transform: none;
    transition: all 1s ease-out;
}

.tra_banner_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 720px;
    margin: auto;
    color: var(--tra-white-color);
}

.tra_banner_content p {
    font-size: 30px;
}

.tra_banner_content h1 {
    font-size: 110px;
    border-bottom: 2px var(--tra-white-color) dashed;
    margin-bottom: 10px;
}

.tra_banner_content span {
    font-size: 20px;
}

/********************************************************
    About Section Style
*******************************************************/

.tra_about_wrapper, .tra_destination_wrapper, .tra_contact_wrapper{
    background-color: var(--tra-white-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tra_about_img {
    border-radius: 40px 0px 40px 0px;
    overflow: hidden;
    border: 1px solid var(--tra-primary-color);
    border-right: none;
    border-left: none;
}

.tra_about_img img {
    object-fit: cover;
    width: 100%;
}

.tra_about_info {
    padding-left: 40px;
}

.tra_about_heading {
    margin-bottom: 10px;
}

.tra_about_heading p {
    color: var(--tra-black-light);
}

.tra_about_text ul {
    margin: 20px 0;
}

.tra_about_text ul li {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 7px;
}

.tra_about_text ul li:last-child{
    margin: 0;
}

/********************************************************
    Package Section Style
*******************************************************/

.tra_pakage_wrapper {
    background-image: url(../images/pakage_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.tra_pakage_wrapper .tra_section_heading{
    color: var(--tra-white-color);
}

.tra_pakage_box {
    color: var(--tra-white-color);
    height: 340px;
    padding-top: 20px;
    border-radius: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.pakage1{
    background-image: url(../images/pkg-1.jpg);
}

.pakage2{
    background-image: url(../images/pkg-2.jpg);
}

.pakage3{
    background-image: url(../images/pkg-3.jpg);
}

.pakage4{
    background-image: url(../images/pkg-4.jpg);
}

.tra_pakage_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.tra_pakage_top span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.tra_pakage_bottom {
    padding: 20px 40px;
    background-color: rgb(0 0 0 / 50%);
    transform: translateY(105px);
    transition: var(--tra-transition);
}

.tra_pakage_box:hover .tra_pakage_bottom{
    transform: translateY(0);
}

.tra_pakage_info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.tra_pakage_bottom h4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.tra_pack_slider .swiper-pagination {
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    top: unset;
    margin-top: 20px;
}

.swiper-pagination-bullet{
    background: var(--tra-white-color);
}
.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 20px;
}

/********************************************************
    Destinations Section Style
*******************************************************/

.tra_destination_box{
    border-radius: 40px 0px 40px 0px;
    overflow: hidden;
    border: 1px solid var(--tra-primary-color);
    border-right: none;
    border-left: none;
    position: relative;
}

.tra_destination_box img {
    min-height: 363px;
    object-fit: cover;
}

.tra_destination_text {
    position: absolute;
    bottom: 0;
    color: var(--tra-white-color);
    width: 100%;
    text-align: center;
    padding: 20px 40px;
    background-color: rgb(0 0 0 / 50%);
    transform: translateY(42px);
    transition: var(--tra-transition);
}

.tra_destination_box:hover .tra_destination_text{
    transform: translateY(0);
}

.tra_destination_text h4 {
    margin-bottom: 10px;
}

/********************************************************
    Service Section Style
*******************************************************/

.tra_service_wrapper {
    background-color: #F3F6FD;
    padding-bottom: 205px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tra_service_box {
    background-color: var(--tra-white-color);
    box-sizing: var(--tra-box-shadow);
    padding: 5px 5px 0;
    border-radius: 40px 0px 40px 0px;
    overflow: hidden;
}

.tra_service_img{
    overflow: hidden;
    border-radius: 40px 0px 0 0px;
}

.tra_service_img img {
    min-height: 320px;
    object-fit: cover;
    transition: var(--tra-transition);
}

.tra_service_box:hover .tra_service_img img{
    transform: scale(1.1) rotate(3deg);
}

.tra_service_text {
    padding: 20px;
}

.tra_service_text p {
    margin: 5px 0 10px;
    color: var(--tra-black-light);
}

.tra_service_text a{
    color: var(--tra-black-color);
}

.tra_service_text a:hover{
    color: var(--tra-primary-color);
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px;
    color: var(--tra-white-color);
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
    visibility: hidden;
    background-color: rgb(139 62 234 / 70%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: var(--tra-transition);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: var(--tra-primary-color);
}

.swiper-button-next{
    transform: translateX(50px);
    transition: var(--tra-transition);
}

.swiper-button-prev{
    transform: translateX(-50px);
    transition: var(--tra-transition);
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/********************************************************
    Newsletter Section Style
*******************************************************/

.tra_newsletter_wrapper {
    margin: -135px 0;
}

.tra_newsletter_content {
    text-align: center;
    background-image: url(../images/news_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 50px;
    border-radius: 40px 0;
}

.tra_newsletter_content h3 {
    color: var(--tra-white-color);
}

.tra_newslatter {
    margin-top: 30px;
}

.tra_newslatter .mt_popup_form{
    position: relative;
    max-width: 500px;
    margin: auto;
}

.tra_newslatter .mt_form_input {
    width: 100%;
}

.tra_newslatter .mt_form_input label {
    width: 100%;
    color: var(--tra-white-color);
    text-align: left;
}

.tra_newslatter .mt_form_input input {
    width: 100%;
    height: 50px;
    padding: 15px 130px 15px 30px;
    border-radius: 40px 0;
}

.tra_newslatter .mt_popup_form button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 48px;
    border-radius: 40px 0;
    padding: 0 25px;
}

/********************************************************
    Contact Section Style
*******************************************************/
.tra_contact_wrapper {
    padding-top: 205px;
}

.tra_contact_wrapper .tra_section_heading{
    text-align: left;
}

.tra_contact_info {
    margin-top: 30px;
}

.tra_contact_info li {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.tra_contact_info li:last-child{
    margin-bottom: 0;
}

.tra_contact_info li span {
    min-width: 35px;
    height: 35px;
    border: 1px solid var(--tra-primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tra_contact_info li a {
    color: var(--tra-black-light);
    font-size: 16px;
}

.tra_contact_form .tra_textarea{
    margin-bottom: 15px;
}
.tra_contact_form .tra_textarea, .tra_contact_form .tra_textarea textarea{
    width: 100%;
}

.tra_contact_form .tra_textarea textarea {
    border: 1px solid #ebebeb;
    height: 150px;
    background-color: #ffffff;
    padding: 10px;
    resize: none;
}

.tra_input {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.tra_input .mt_form_input {
    min-width: calc( 100% / 3 - 10px );
}

.tra_input .mt_form_input input{
    width: 100%;
    border: 1px solid #ebebeb;
    height: 45px;
    background-color: #ffffff;
    padding: 0 10px;
}

.tra_contact_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tra_social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.tra_social li a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--tra-black-light);
}

.tra_social li a:hover{
    color: var(--tra-primary-color);
}

.tra_social li a span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--tra-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tra_social li a span img{
    transition: var(--tra-transition);
}

.tra_social li a:hover img{
    transform: rotate(360deg);
}

/********************************************************
    Copyright Section Style
********************************************************/

.tra_copyright_wrapper{
    border-top: 1px solid #ebebeb;
    background-color: var(--tra-primary-color);
}

.tra_copyright_content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.tra_copyright_content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 0;
}

.tra_copyright_content ul li:first-child {
    padding-left: 0;
}

.tra_copyright_content ul li {
    padding: 0 30px;
}

.tra_copyright_content ul li a {
    color: var(--tra-white-color);
}

.tra_copyright_content ul li:last-child {
    border: none;
}

.tra_copyright_content p {
    text-transform: capitalize;
    color: var(--tra-white-color);
}